body{
  background: olive;
  color:lightgreen
}
.button {
  margin-left: 5px;
  border-radius: 12px;
  color:navy;
  background:gold;
}
.button:hover {
  color: black;
  background: cornflowerblue;
}
b{
  color:greenyellow;
}
.table{
  color:rgb(243, 220, 11);
}
